
@{
    ViewBag.Title = "Create";
}

<div id="RenderCreateForm" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4">Add New Product</p>
            <form id="createProduct">
                <input style="width: 400px;" class=" m-1 form-control" type="text" placeholder="Product Name" name="Name" />
                <input style="width: 400px;" class="m-1 form-control" type="text" placeholder="Description" name="Description" />
                <input type="button" id="saveBtn" value="Save" class="button m-1" />
            </form>
        </div>
    </div>
</div>