@model List<test.web.Models.Product>
@{
    ViewBag.Title = "ProductTable";
}


<div class="modal-body">
    <p id="pMgm" class="display-4 text-center">Product Manegement Section</p>
    <div class="row">
        <div class="col-md-2">
            <button id="createNew" type="button" value="Add New" class="mt-3 btn-sm btn button ">
                <i class="fa fa-plus-circle fa-2x"></i>
            </button>
        </div>
    </div>

    <table id="pTable" class="table m-2 table-bordered table-striped">
        <thead>
            <tr class="font-weight-bold">
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    var dataTable;
    $(function () {
        dataTable = $('#pTable').DataTable({
             ajax:
             {
                 url: "/Product/GetData",
                 datatype: "json",
                 type: "GET"
             },
             columns:
              [
                     { data: "Name" },
                     { data: "Description" },
                     {
                         data: "ID",
                         render: function (data) {
                            return "<button data-id='" + data + "' class='btn  button btn-sm  btn-warning addToCart'><i class='fa fa-shopping-cart'></i></button>  <button type='button' data-id='" + data + "' class='editBtn btn btn-sm button btn-info'><i class='fa fa-pencil'></i></button> <button data-id='" + data + "'  class='btnDel btn btn-sm btn-danger' ><i class='fa fa-trash'></i></button>";
                         }
                     }
              ],
        });
    });
    $('#createNew').click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Product")',
            type:'GET'
        }).done(function (res) {
            $('#actionContainer').html(res);
        }).fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
            });
        $('html, body').animate({
            scrollTop: ($('#actionContainer').offset().top)
        }, 1000);
    });

    $("body").on("click", ".editBtn", function () {
        $.ajax({
            url: '@Url.Action("Edit","Product")/',
            data: { ID: $(this).attr('data-id') },
            type: 'GET'
        }).done(function (res) {
            $('#actionContainer').html(res);
        }).fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert('Failed');
            });
        $('html, body').animate({
            scrollTop: ($('#actionContainer').offset().top)
        }, 1000);
    });

    $("body").on("click", "#upate", function () {
        $.ajax({
            url: '/Product/Edit',
            type: 'POST',
            data: $('#updateProduct').serialize(),
            success: function (data) {
                if (data.success) {
                    dataTable.ajax.reload();
                    $('#actionContainer').html("");
                }
            }
        }).done(function (response) {
        }).fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
            });
        $('html, body').animate({
            scrollTop: ($('#pMgm').offset().top)
        }, 1000);
    });

    $("body").on("click", "#saveBtn", function () {
        $.ajax({
            url: '@Url.Action("Create","Product")',
            type: 'POST',
            data: $('#createProduct').serialize(),
            success: function (data) {
                if (data.success) {
                    dataTable.ajax.reload();
                    $('#actionContainer').html("");
                    $('html, body').animate({
                        scrollTop: ($('#pMgm').offset().top)
                    }, 1000);
                }
            }
        }).done(function (response) {
            console.log(response);
        }).fail(function (XMLHttpRequest, txtStatus, errorThrown) {
            alert("Fail");
        });
    });

    $("body").on("click", ".btnDel", function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this product record!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Product")/' + $(this).attr('data-id'),
                        type: 'POST',
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                            }
                        }
                    })
                    swal("Poof! Your prdouct record has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your record is safe!");
                }
            });
    });

</script>